.pods-block__mailchimp-api-response .fa-times {

	color: #9E0B0F

}

.pods-block__mailchimp-placeholder form {

	min-width: 320px;

	input[type="text"] {

		height: 28px;
		margin-right: 2px;
		width: 216px;

	}

}

.pods-block__mailchimp-placeholder-auth p {

	font-family: inherit;
	font-size: 14px;
	line-height: 1.4;
	margin-top: 5px;

}

.pods_heading textarea.pods_title {

	font-size: 1.25em;
	font-weight: 700;
	height: auto !important;
	margin: 0 0 -2px 0;

}

.pods_heading textarea.pods_description {

	margin: 0 0 -8px 0;

}

.pods_wrapper {

	.pods_simple_horizontal {

		width: 100%;

		div {

			&.pods_body,
			&.pods_footer.top_label {

				display: table-cell;
				vertical-align: middle;
				margin: 0;
				padding: 0;
				position: relative;

			}

			&.pods_body {

				width: auto;
				max-width: 75%;

			}

			&.ginput_container {

				margin-top: 0 !important;

			}

			&.pods_body ul.top_label {

				&.form_sublabel_below li.podsield,
				&.form_sublabel_above li.podsield {

					vertical-align: middle;

				}

				li.podsield input {

					&.small, &.medium, &.large {

						width: 100%;

					}

				}
			}
		}

		&.pods_footer.top_label input {

			&[type="submit"],
			&[type="button"],
			&[type="image"] {

				height: auto;

			}

		}

		ul li.podsield {

			margin-top: 0 !important;

		}

		div.pods_footer.top_label {

			width: auto;
			max-width: 25%;
			padding: 0;
			margin: 0;

		}

		div.pods_body ul.top_label {

			display: table;
			width: 100%;

			li.podsield {

				display: table-cell;
				padding-right: 1em;
				height: auto;

			}

		}

		label.podsield_label,
		.ginput_complex label {

			display: block;
			height: 1px;
			width: 1px;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: -9000px;

		}

	}

}

.pods_body,
.pods_footer {

	pointer-events: none;

}
